numpy>=1.27.6
pandas>=2.2.2
scipy>=1.11.2
scikit-learn>=1.3.2
tqdm>=4.66.1
faiss-cpu>=1.13.0
implicit>=0.7.2
# Utilities
python-json-logger==2.0.7
pyyaml>=6.0
# Stress Testing
# locust==2.17.0
# FastAPI and Server
fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6